<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Main</string>
	<key>Pages</key>
	<array>
		<string>Introduction.playgroundpage</string>
		<string>Friction.playgroundpage</string>
		<string>FrictionResult.cutscenepage</string>
		<string>Size.playgroundpage</string>
		<string>SizeResult.cutscenepage</string>
		<string>Dynamic.playgroundpage</string>
		<string>DynamicResult.cutscenepage</string>
		<string>Gravity.playgroundpage</string>
		<string>GravityResult.cutscenepage</string>
		<string>Final.playgroundpage</string>
		<string>FinalResult.cutscenepage</string>
	</array>
</dict>
</plist>
